:root {
    --white: rgb(255, 255, 255);
    --white-r: 255;
    --white-g: 255;
    --white-b: 255;
    --white-th: var(--black);

    --black: rgb(0, 0, 0);
    --black-r: 0;
    --black-g: 0;
    --black-b: 0;
    --black-th: var(--white);

    --blue: rgb(0, 127, 245);
    --blue-r: 0;
    --blue-g: 127;
    --blue-b: 245;
    --blue-th: var(--white);
    
    --indigo: rgb(102, 16, 242);
    --indigo-r: 102;
    --indigo-g: 16;
    --indigo-b: 242;
    --indigo-th: var(--white);
    
    --purple: rgb(111, 66, 193);
    --purple-r: 111;
    --purple-g: 66;
    --purple-b: 193;
    --purple-th: var(--white);
    
    --pink: rgb(232, 62, 140);
    --pink-r: 232;
    --pink-g: 62;
    --pink-b: 140;
    --pink-th: var(--white);
    
    --red: rgb(239, 83, 80);
    --red-r: 239;
    --red-g: 83;
    --red-b: 80;
    --red-th: var(--white);
    
    --orange: rgb(255, 115, 24);
    --orange-r: 255;
    --orange-g: 115;
    --orange-b: 21;
    --orange-th: var(--white);
    
    --yellow: rgb(255, 180, 0);
    --yellow-r: 255;
    --yellow-g: 180;
    --yellow-b: 0;
    --yellow-th: var(--black);
    
    --green: rgb(105, 188, 72);
    --green-r: 105;
    --green-g: 188;
    --green-b: 72;
    --green-th: var(--white);
    
    --teal: rgb(147, 196, 125);
    --teal-r: 147;
    --teal-g: 196;
    --teal-b: 125;
    --teal-th: var(--white);
    
    --cyan: rgb(86, 204, 242);
    --cyan-r: 86;
    --cyan-g: 204;
    --cyan-b: 242;
    --cyan-th: var(--black);
}