:root {
    --primary-bg: rgb(255, 255, 255);
    --primary-bg-r: 255;
    --primary-bg-g: 255;
    --primary-bg-b: 255;
    --primary-bg-th: var(--black);

    --secondary-bg: rgb(250, 250, 250);
    --secondary-bg-r: 250;
    --secondary-bg-g: 250;
    --secondary-bg-b: 250;
    --secondary-bg-th: var(--black);

    --primary-text: rgb(0, 0, 0);
    --primary-text-r: 0;
    --primary-text-g: 0;
    --primary-text-b: 0;
    --primary-text-th: var(--white);

    --secondary-text: rgb(115, 115, 115);
    --secondary-text-r: 115;
    --secondary-text-g: 115;
    --secondary-text-b: 115;
    --secondary-text-th: var(--white);

    --primary: rgb(47, 128, 237);
    --primary-r: 47;
    --primary-g: 128;
    --primary-b: 237;
    --primary-th: var(--white);

    --secondary: rgb(1, 0, 56);
    --secondary-r: 1;
    --secondary-g: 0;
    --secondary-b: 56;
    --secondary-th: var(--white);

    --highlight: rgb(171, 171, 171);
    --highlight-r: 171;
    --highlight-g: 171;
    --highlight-b: 171;
    --highlight-th: var(--black);

    --success: rgb(105, 188, 72);
    --success-r: 105;
    --success-g: 188;
    --success-b: 72;
    --success-th: var(--white);

    --info: rgb(86, 204, 242);
    --info-r: 86;
    --info-g: 204;
    --info-b: 242;
    --info-th: var(--black);

    --warning: rgb(255, 180, 0);
    --warning-r: 255;
    --warning-g: 180;
    --warning-b: 0;
    --warning-th: var(--black);

    --danger: rgb(239, 83, 80);
    --danger-r: 239;
    --danger-g: 83;
    --danger-b: 80;
    --danger-th: var(--white);

    --border: rgb(230, 230, 230);
    --border-r: 230;
    --border-g: 230;
    --border-b: 230;
    --border-th: var(--black);

    --shadow: rgb(0, 0, 0);
    --shadow-r: 0;
    --shadow-g: 0;
    --shadow-b: 0;
    --shadow-th: var(--white);

    --main-title: rgb(255, 255, 255);
    --main-title-r: 255;
    --main-title-g: 255;
    --main-title-b: 255;
    --main-title-th: var(--black);

    --header-bg: rgb(1, 0, 56);
    --header-bg-r: 1;
    --header-bg-g: 0;
    --header-bg-b: 56;
    --header-bg-th: var(--white);

    --header-text: rgb(255, 255, 255);
    --header-text-r: 255;
    --header-text-g: 255;
    --header-text-b: 255;
    --header-text-th: var(--black);
    --header-toggler-icon: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    --header-link-hover: rgb(47, 128, 237);
    --header-link-hover-r: 47;
    --header-link-hover-g: 128;
    --header-link-hover-b: 237;
    --header-link-hover-th: var(--white);

    --header-link-active: rgb(47, 128, 237);
    --header-link-active-r: 47;
    --header-link-active-g: 128;
    --header-link-active-b: 237;
    --header-link-active-th: var(--white);

    --sidebar-bg: rgb(255, 255, 255);
    --sidebar-bg-r: 255;
    --sidebar-bg-g: 255;
    --sidebar-bg-b: 255;
    --sidebar-bg-th: var(--black);

    --sidebar-sub-bg: rgb(250, 250, 250);
    --sidebar-sub-bg-r: 250;
    --sidebar-sub-bg-g: 250;
    --sidebar-sub-bg-b: 250;
    --sidebar-sub-bg-th: var(--black);

    --sidebar-text: rgb(0, 0, 0);
    --sidebar-text-r: 0;
    --sidebar-text-g: 0;
    --sidebar-text-b: 0;
    --sidebar-text-th: var(--white);

    --footer-bg: rgb(1, 0, 56);
    --footer-bg-r: 1;
    --footer-bg-g: 0;
    --footer-bg-b: 56;
    --footer-bg-th: var(--white);

    --footer-text: rgb(255, 255, 255);
    --footer-text-r: 255;
    --footer-text-g: 255;
    --footer-text-b: 255;
    --footer-text-th: var(--black);

    --form-bg: rgb(255, 255, 255);
    --form-bg-r: 255;
    --form-bg-g: 255;
    --form-bg-b: 255;
    --form-bg-th: var(--black);

    --form-text: rgb(0, 0, 0);
    --form-text-r: 0;
    --form-text-g: 0;
    --form-text-b: 0;
    --form-text-th: var(--white);
    --form-control-select: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3cpath fill='rgb(0, 0, 0)' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'/%3e%3c/svg%3e");

    --form-border: rgb(166, 166, 166);
    --form-border-r: 166;
    --form-border-g: 166;
    --form-border-b: 166;
    --form-border-th: var(--black);
    --form-control-search: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='rgb(166, 166, 166)'  d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z'/%3e%3c/svg%3e");

    --form-bg-disable: rgb(242, 242, 242);
    --form-bg-disable-r: 242;
    --form-bg-disable-g: 242;
    --form-bg-disable-b: 242;
    --form-bg-disable-th: var(--black);

    --label: rgb(115, 115, 115);
    --label-r: 115;
    --label-g: 115;
    --label-b: 115;
    --label-th: var(--white);

    --disable-btn: rgb(128, 128, 128);
    --disable-btn-r: 128;
    --disable-btn-g: 128;
    --disable-btn-b: 128;
    --disable-btn-th: var(--white);

    --tab-bg: rgb(213, 230, 251);
    --tab-bg-r: 213;
    --tab-bg-g: 230;
    --tab-bg-b: 251;
    --tab-bg-th: var(--black);

    --table-bg: rgb(255, 255, 255);
    --table-bg-r: 255;
    --table-bg-g: 255;
    --table-bg-b: 255;
    --table-bg-th: var(--black);

    --table-text: rgb(0, 0, 0);
    --table-text-r: 0;
    --table-text-g: 0;
    --table-text-b: 0;
    --table-text-th: var(--white);

    --table-border: rgb(255, 255, 255);
    --table-border-r: 255;
    --table-border-g: 255;
    --table-border-b: 255;
    --table-border-th: var(--black);

    --table-header-bg: rgb(255, 255, 255);
    --table-header-bg-r: 255;
    --table-header-bg-g: 255;
    --table-header-bg-b: 255;
    --table-header-bg-th: var(--black);

    --table-header-text: rgb(0, 0, 0);
    --table-header-text-r: 0;
    --table-header-text-g: 0;
    --table-header-text-b: 0;
    --table-header-text-th: var(--white);

    --table-header-top-border: rgb(255, 255, 255);
    --table-header-top-border-r: 255;
    --table-header-top-border-g: 255;
    --table-header-top-border-b: 255;
    --table-header-top-border-th: var(--black);

    --table-header-bottom-border: rgb(0, 0, 0);
    --table-header-bottom-border-r: 0;
    --table-header-bottom-border-g: 0;
    --table-header-bottom-border-b: 0;
    --table-header-bottom-border-th: var(--white);

    --table-stripe-bg: rgb(247, 247, 247);
    --table-stripe-bg-r: 247;
    --table-stripe-bg-g: 247;
    --table-stripe-bg-b: 247;
    --table-stripe-bg-th: var(--black);

    --table-hover-bg: rgb(245, 249, 254);
    --table-hover-bg-r: 245;
    --table-hover-bg-g: 249;
    --table-hover-bg-b: 254;
    --table-hover-bg-th: var(--black);

    --table-active-bg: rgb(213, 230, 251);
    --table-active-bg-r: 213;
    --table-active-bg-g: 230;
    --table-active-bg-b: 251;
    --table-active-bg-th: var(--black);

    --blue: rgb(0, 127, 245);
    --blue-r: 0;
    --blue-g: 127;
    --blue-b: 245;
    --blue-th: var(--white);

    --indigo: rgb(102, 16, 242);
    --indigo-r: 102;
    --indigo-g: 16;
    --indigo-b: 242;
    --indigo-th: var(--white);

    --purple: rgb(111, 66, 193);
    --purple-r: 111;
    --purple-g: 66;
    --purple-b: 193;
    --purple-th: var(--white);

    --pink: rgb(232, 62, 140);
    --pink-r: 232;
    --pink-g: 62;
    --pink-b: 140;
    --pink-th: var(--white);

    --red: rgb(239, 83, 80);
    --red-r: 239;
    --red-g: 83;
    --red-b: 80;
    --red-th: var(--white);

    --orange: rgb(255, 115, 24);
    --orange-r: 255;
    --orange-g: 115;
    --orange-b: 24;
    --orange-th: var(--white);

    --yellow: rgb(255, 180, 0);
    --yellow-r: 255;
    --yellow-g: 180;
    --yellow-b: 0;
    --yellow-th: var(--black);

    --green: rgb(105, 188, 72);
    --green-r: 105;
    --green-g: 188;
    --green-b: 72;
    --green-th: var(--white);

    --teal: rgb(147, 196, 125);
    --teal-r: 147;
    --teal-g: 196;
    --teal-b: 125;
    --teal-th: var(--black);

    --cyan: rgb(86, 204, 242);
    --cyan-r: 86;
    --cyan-g: 204;
    --cyan-b: 242;
    --cyan-th: var(--black);

    --gray: rgb(161, 168, 175);
    --gray-r: 161;
    --gray-g: 168;
    --gray-b: 175;
    --gray-th: var(--black);

    --background-img: url("/Api/Themes/1/Image/82cffa28-7b1c-4122-9fdd-7a0a90c90817");
    --bodyClass:theme-light;
}